@model TrainStation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.StationName İstasyonunu Düzenle</h1>

<form asp-action="Edit" asp-route-id="@Model.StationID" method="post">
    <div class="form-group">
        <label asp-for="StationName">İstasyon Adı</label>
        <input asp-for="StationName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StationAddress">İstasyon Adresi</label>
        <input asp-for="StationAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StationLocation">İstasyon Konumu</label>
        <input asp-for="StationLocation" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
</form>
